<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ seo.title }}</title>
</head>
<body>
  <article>
    <h1>{{ content.title }}</h1>
    <div>{{ content.html | safe }}</div>
  </article>
</body>
</html>
